@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
:root{
    --ReVampBlue:#0050A0;
    --letterDotColour: #00B4F0;
    --main-font-color: #3A3A57;
    --oldBlue: #21415A;
    --defaultTileColour: #F3F6FA;
    --currentTileColour: #00509F;
    --defaultTitleTextColour: #2B2E39;
    --cardToggleColour: #BAC4CC;
    --badge-green: #39B54A;
    --badge-yellow: #FFB80D;
    --badge-blue: #004E9F;
    --badge-cyan: #57DFCA;
    --red-circle: #ED1C24;
    --yellow-circle: #FFB90F;
    --green-circle: #39B54A;
    --track-status: #656565;
    --target-right: #6C757D3D;
    --track-slider-bg: #EBF2F7;
    --slider-tumb-border: #425C72;
    --slider-thumb: #FFF;
    --targetValue: #1B3D57;
    --date-status-font-color: #6F6F6F;
    --toggleDropShadow : drop-shadow(0px 2px 3px rgba(0,0,0,0.06));
    --quick-link-hover: 0px 0px 0px 4px rgba(58,247,255,0.22);
    --userIcon: url(src/images/loki_teaser_poster.jpg);
    --sprite: url(src/images/icons.svg);
    --saveIcon: url(src/images/saveIcon.svg);
    --filterIcon: url(src/images/filterIcon.svg);
    --gridIcon: url(src/images/gridIcon.svg);
    --arrowDown: url(src/images/arrowDown.svg);
    --pencilIcon:url(src/images/pencilIcon.svg);
    --calendarIcon: url(src/images/calendarIcon.svg);
    --carrotDownIcon: url(src/images/caretDownIcon.svg);
    --quickMailIcon: url(src/images/envelopeIcon.svg);
    --quickCommentIcon: url(src/images/chatIcon.svg);
    --quickReportIcon: url(src/images/reportIcon.svg);
}

html, body{
    font-family: sans-serif;
    height: 100%;
}

.navbar{
    background-color: var(--ReVampBlue);
    padding-top: 2px;
    padding-bottom: 2px;
    height: 46px;
}

.nav-top .nav-item{
    margin: 0px 5px;
}

.navbar-brand{
    line-height: 25px;
}

.camms-letter{
    font-size: 35px;
    color: white;
    font-family: 'Roboto', sans-serif !important;
}

.camms-letter::after{
    content: ".";
    color: var(--letterDotColour);
    font-family: 'Roboto';
}

.nav-link{
    width: 24px;
    height: 24px;
}

.nav-help{
    background: transparent var(--sprite) no-repeat -21px -1832px;
}

.nav-grid{
    background: transparent var(--sprite) no-repeat -18px -1870px;
}

.nav-ham{
    background: transparent var(--sprite) no-repeat -18px -1913px;
}

.nav-user{
    background: transparent var(--userIcon) no-repeat;
    border-radius: 50%;
    background-size: 29px;
    padding: 14px;

}

.side-nav{
    background-color: #ECEFF6;
    width: 45px;
    position: fixed;
    top: 46px;
    left: 0px;
    height: 100%;
}

.main{
    width: calc(100vw - 45px);
    height: 100%;
    position: fixed;
    left: 45px;
    top: 46px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.quick-update-title{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--main-font-color);
}

.owl-item.active .quick-update-tile{
    cursor: pointer;
}

.quick-update-tile{
    background-color: var(--defaultTileColour);
    padding: 5px 5px;
    height: 125px;
    margin-right: 5px;
    color: var(--defaultTitleTextColour);
    border-radius: 7px;
    border: 1px solid transparent;
    transition: ease-in 0.2s;
}

.owl-item.active .quick-update-tile:hover{
    border-color: #DDD;
}

.quick-update-tile.current-tile {
    background-color: var(--defaultTileColour);
    color: #FFF;
}

.owl-item.active .current-tile.quick-update-tile:hover{
    border-color: transparent;
}

.quick-update-tile.current-tile{
    background-color: var(--currentTileColour);
}

.tile-disabled{
    opacity: 0.3;
    pointer-events: none;
    border-color: transparent !important;
}

.owl-nav i{
    color: var(--oldBlue);
}

.owl-next{
    position: absolute;
    top: 47px;
    right: 75px;
    display: block !important;
    transform: scale(2);
    transition: ease-in-out 0.2s;
}

.owl-prev{
    position: absolute;
    top: 47px;
    left: 75px;
    display: block !important;
    transform: scale(2);
    transition: ease-in-out 0.2s;
}

.owl-nav button:hover{
    background: transparent !important;
    animation-name: zoomArrow;
    animation-duration: 0.2s;
    transform: scale(2.5);
}

@keyframes zoomArrow{
    from{transform: scale(2);}
    to{transform: scale(2.5);}
}

.owl-nav button.disabled{
    display: none !important;
}

.quick-update-tile table{
    width: 100%;
}

.tile-title-td{
    width: 75%;
    padding-top: 20px;
    padding-left: 5px;
}

.tile-icon-td{
    width: 25%;
    padding-top: 10px;
}

.tile-menu-td{
    vertical-align: baseline;
}

.tile-bottom-icon-td{
    text-align: center;
    width: 20%;
}

.tile-title{
    font-size: 13px;
}

.tile-title-double{
    padding-top: 0px;
    line-height: 21px;
}

.tile-icon{
    padding: 10px;
    background-color: var(--currentTileColour);
    color: white;
    border-radius: 50%;
    font-size: 20px;
}

.current-tile .tile-icon{
    background-color: white;
    color: var(--currentTileColour);
}

.tile-menu{
    color: var(--currentTileColour);
}

.current-tile .tile-menu{
    color: white;
}

.tile-value{
    font-size: 50px;
}

.card-main{
    height: calc(99vh - 249px );
    padding-top: 10px;
}

.side-btn-div{
    float: right;
    width: 110px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 214px;
    right: 22px;
}

.img-txt-btn{
    background-color: white;
    border: 2px solid var(--currentTileColour);
    border-radius: 25px;
    width: 45px;
    height: 45px;
    margin-left: -3px;
    margin-top: 1px;
    text-align: left;
    padding-top: 7.5px;
    margin-bottom: 10px;
    transition: ease-in-out 0.3s;
}

.img-txt-btn .btn-txt{
    opacity: 0;
    vertical-align: middle;
    /* text-align: left; */
}

.img-txt-btn:hover{
    width: 100px;
    padding-left: 36px;
}

.img-txt-btn:hover .btn-txt{
    opacity: 1;
    transition: ease-in-out 0.15s;
    transition-delay: 0.2s;
}

.save-btn-side{
    background: transparent var(--saveIcon) no-repeat 8.5px center;
}

.filter-btn-side{
    background: transparent var(--filterIcon) no-repeat 13px center;
}

.grid-btn-side{
    background: transparent var(--gridIcon) no-repeat 12.5px center;
}

.card-div{
    width: calc(100vw - 212px);
    height: calc(99vh - 259px );
}

.card{
    border-radius: 8px;
    width: 625px;
    margin-bottom: 25px;
}

.card .card-body{
    height: 300px;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.card-header{
    background-color: white;
    border-top-left-radius: 8px !important;
    border-top-right-radius: 8px !important;
    display: flex;
    flex-direction: column;
}

.card-header-text{
    font-size: 16px;
}

.card .card-header-btn{
    text-align: right;
}

.card .card-toggle{
    background: transparent var(--arrowDown) no-repeat center center;
    background-size: 13px;
    background-color: white;
    border: 1px solid var(--cardToggleColour);
    border-radius: 50%;
    height: 25px;
    -webkit-filter: var(--toggleDropShadow);
    filter: var(--toggleDropShadow);
}

.badge-div{
    padding-top: 7px;
}

.badge{
    margin-right: 5px;
    font-weight: unset;
    text-decoration: none;
    border-radius: 3px;
    font-size: 10px;
    padding: 4px 8px;
}

a.badge:hover{
    color: white !important;
}

.badge-green{
    background-color: var(--badge-green);
}

.badge-yellow{
    background-color: var(--badge-yellow);
}

.badge-blue{
    background-color: var(--badge-blue);
}

.badge-cyan{
    background-color: var(--badge-cyan);
}

.track-circle{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 3px;
    margin-top: 2.5px;
}

.red-circle{
    background-color: var(--red-circle);
    opacity: 0.1;
}

.yellow-circle{
    background-color: var(--yellow-circle);
    opacity: 0.1;
}

.green-circle{
    background-color: var(--green-circle);
    opacity: 0.1;
}

.track-circle.active{
    opacity: 1;
}

.red-circle.active ~ .track-status::before{
    content: "Off Track";
}

.yellow-circle.active ~ .track-status::before{
    content: "Monitor";
}

.green-circle.active + .track-status::before{
    content: "On Track";
}

.track-status{
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
    color: var(--track-status);
}

.target-right{
    font-size: 12px;
    padding-left: 12px;
}

.target-div{
    padding: 0px 5px;
    border-right: 1px solid var(--target-right);
}

.period-div{
    padding: 0px 5px;
}

.dot{
    width: 3px;
    height: 3px;
    border-radius: 10px;
    background-color: var(--track-status);
    display: inline-block;
    margin: 3px 4px;
    padding: 2px;
    opacity: 0.5;
}

.slider-div{
    padding-top: 15px;
    width: 89%;
}

.rangeslider--horizontal{
    background: var(--track-slider-bg);
    height: 10px;
    border-radius: 3px;
    box-shadow: none;
}

.rangeslider--horizontal .rangeslider__handle{
    top: -6.5px;
    background-image: none;
    height: 23px;
    width: 23px;
    border: 2px solid var(--slider-tumb-border);
    box-shadow: none;
}

.rangeslider--horizontal .rangeslider__handle::after{
    display: none;
}

.rangeslider__fill{
    box-shadow: none;
    background-color: var(--green-circle);
    border-radius: 3px;
}

.slider-value-div{
    padding-top: 2px;
    width: 11%;
    background: transparent var(--pencilIcon) no-repeat right center;
    background-size: 15px;
}

.slider-value{
    border: none;
    font-size: 17px;
    font-weight: bold;
    text-align: right;
    color: var(--targetValue);
    padding-right: 0;
    padding-left: 3px;
    padding-top: 5px;
    width: 32px;
}

.form-control:focus{
    outline: none;
    box-shadow: none;
}

.slider-value:focus{
    outline: none;
    box-shadow: none;
}

.slider-value-symbol{
    padding-top: 4px;
}

.slider-value-symbol::after{
    content: "%";
    font-weight: bold;
    font-size: 15px;
    color: var(--targetValue);
}

.date-status-row{
    padding-top: 20px;
}

.date-status-row > div{
    padding-right: 10px;
}

.strat-date-div , .end-date-div{
    width: 20%;
}

.status-dropdown-div{
    width: 30%;
}

.quick-links-div{
    width: 20%;
}

.date-status-row .form-label{
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 2px;
    color: var(--targetValue);
}

.date-input{
    font-size: 12px;
    height: 31px;
    padding-left: 8px;
    color: var(--date-status-font-color);
    background: transparent var(--calendarIcon) no-repeat 93.5% center;
}

.date-input::placeholder{
    font-size: 11px;
    vertical-align: middle !important;
    color: var(--date-status-font-color);
}

.date-input::-ms-input-placeholder{
    font-size: 11px !important;
    color: var(--date-status-font-color);
    transform: scale(0.9) translateX(-5px);
    /* Edge has a bug with placeholder font size so need to use scale to change font size*/
}

.date-status-row .form-select .status-drop-option{
    font-size: 12px;
    color: var(--date-status-font-color);
}

.status-select{
    font-size: 12px;
    height: 31px;
    padding-left: 8px;
    color: var(--date-status-font-color);
}

.form-select{
    background-image: var(--carrotDownIcon);
    background-position-y: 9.1px;
}

.quick-link-btn{
    width: 31px;
    height: 31px;
    border-radius: 50% !important;
    margin-right: 6px;
}

.quick-link-btn:hover{
    -webkit-box-shadow: var(--quick-link-hover); 
    box-shadow: var(--quick-link-hover);
}

.quick-mail-btn{
    background: var(--ReVampBlue) var(--quickMailIcon) no-repeat  center;
    background-size: 19px;
}

.quick-comment-btn{
    background: var(--ReVampBlue) var(--quickCommentIcon) no-repeat center 4px;
    background-size: 19px;
}

.quick-report-btn{
    background: var(--ReVampBlue) var(--quickReportIcon) no-repeat 5.3px center;
    background-size: 19px;
}



textarea{
    display: none;
}
